[user]
    name = "{{ (bitwarden "item" "Main").identity.firstName }} {{ (bitwarden "item" "Main").identity.lastName }}"
    email = {{ (bitwarden "item" "Main").identity.email }}
[alias]
    tree = log --oneline --graph --decorate --all --color
[init]
    defaultBranch = main

[url "ssh://git@git.corp.adobe.com/"]
    insteadOf = https://git.corp.adobe.com/

{{ if eq .chezmoi.os "darwin" -}}
[diff]
       tool = Kaleidoscope
[difftool "Kaleidoscope"]
       cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
       prompt = false
[merge]
       tool = Kaleidoscope
[mergetool "Kaleidoscope"]
       cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
       trustExitCode = true
[mergetool]
       prompt = false
{{ end -}}
