#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
curl -L https://code.visualstudio.com/sha/download\?build=stable\&os=linux-deb-x64 -o vscode.deb && sudo dpkg -i vscode.deb
sudo apt update
sudo apt install -y npm
sudo npm i -g @bitwarden/cli
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew install node@16 jq
npm i -g @bitwarden/cli
{{ end -}}
